$navbar-height: 60px !default;
$footer-height: 65px !default;

// $body-color:                $gray-900 !default;
// $font-size-base: 0.875rem;   // 14px !default;
$font-family-base: "Helvetica Neue", Helvetica, Arial, sans-serif !default;

$sidebar-collapse-width: 800px;
$grid-float-breakpoint: 600px;

$link-color: darken(#4285f4, 20%); // #0088dd; // #1a0dab; // #0088ce; // #4285f4;

$monarch-bg-color: #15556A;
$monarch-button-color: #CCE34C;
$home-section-light-bg: white;
$home-section-dark-bg: #f8f9fa;

$navbar-padding-y:          0 !default;
$nav-link-padding-y:        0 !default;
$nav-link-padding-x:        0 !default;


/*
  Copied from bootstrap/scss/_variables.scss for reference:
    $zindex-dropdown:                   1000 !default;
    $zindex-sticky:                     1020 !default;
    $zindex-fixed:                      1030 !default;
    $zindex-modal-backdrop:             1040 !default;
    $zindex-modal:                      1050 !default;
    $zindex-popover:                    1060 !default;
    $zindex-tooltip:                    1070 !default;
*/

$monarch-node-title-z: 1;
$monarch-node-sidebar-z: 100;
$monarch-node-sidebar-flyout-z: ($monarch-node-sidebar-z + 2);
$monarch-node-overlay-z: ($monarch-node-sidebar-z + 1);
$monarch-autocomplete-category-z: 1001;
$monarch-footer-z: ($monarch-node-sidebar-z + 10);

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
/*
  monarch: $grid-float-breakpoint,

  The attempt to create a custom breakpoint name doesn't work and
  produces a build warning from Bootstrap. This will probably be fixed
  in a future version of Bootstrap, but for now, we'll adopt 'sm' as our
  navbar breakpoint.
*/
  lg: 992px,
  xl: 1200px
) !default;


$collapsed-sidebar-width: 55px;
$sidebar-width: 15%;

